<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>

<script>
    //camera stuff
    var scanner = new Instascan.Scanner({ video: document.getElementById('qrcCamera'), scanPeriod: 5, mirror: true, backgroundScan: false });
    scanner.addListener('scan', function(content) {
        flow = "customer";
        getCustomerInfo(content, flow);
        // onQrcCustPresentBtnClicked(content, flow, $('#pmtAmount').val());
    });
    Instascan.Camera.getCameras().then(function (cameras){
        if(cameras.length>0){
            scanner.start(cameras[0]);
        }else{
            console.error('No cameras found.');
        }
    }).catch(function(e){
        console.error(e);
        alert(e);
    });
    //end camera stuff
</script>
